- is_project_overview = local_assigns.fetch(:is_project_overview, false)
- commit = local_assigns.fetch(:commit) { @repository.commit }
- ref = local_assigns.fetch(:ref) { current_ref }
- project = local_assigns.fetch(:project) { @project }
- content_url = local_assigns.fetch(:content_url) { @tree.readme ? project_blob_path(@project, tree_join(@ref, @tree.readme.path)) : project_tree_path(@project, @ref) }
- show_auto_devops_callout = show_auto_devops_callout?(@project)

#tree-holder.tree-holder.clearfix
  .nav-block
    = render 'projects/tree/tree_header', tree: @tree

  - if vue_file_list_enabled?
    #js-last-commit
  - elsif commit
    = render 'shared/commit_well', commit: commit, ref: ref, project: project

  - if is_project_overview
    .project-buttons.append-bottom-default{ class: ("js-keep-hidden-on-navigation" if vue_file_list_enabled?) }
      = render 'stat_anchor_list', anchors: @project.statistics_buttons(show_auto_devops_callout: show_auto_devops_callout)

  - if vue_file_list_enabled?
    #js-tree-list{ data: vue_file_list_data(project, ref) }
    - if can_edit_tree?
      = render 'projects/blob/upload', title: _('Upload New File'), placeholder: _('Upload New File'), button_title: _('Upload file'), form_path: project_create_blob_path(@project, @id), method: :post
      = render 'projects/blob/new_dir'
    - if @tree.readme
      = render "projects/tree/readme", readme: @tree.readme
  - else
    = render 'projects/tree/tree_content', tree: @tree, content_url: content_url
